<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Listagem</mat-card-title>
      <button (click)="openDialog()" mat-raised-button color="primary">Add Hero</button>
    </mat-card-header>

    <mat-card-content>
      <table mat-table [dataSource]="heroes">
        <ng-container matColumnDef="thumbnail">
          <th mat-header-cell *matHeaderCellDef> Pic </th>
          <td mat-cell *matCellDef="let element">
            <img class="thumbnail" [src]="element.thumbnail.path + '.' + element.thumbnail.extension" alt="hero thumbnail" />
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="total"
        [pageSize]="limit"
        [pageSizeOptions]="[5, 10]"
        [pageIndex]="pageIndex"
        showFirstLastButtons
        aria-label="Select page">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</section>
